.nav-container {
  position: relative; /* para que el underline absolute se posicione respecto a este */
  display: flex;
  gap: 1.5rem;
  margin-left: 100px;
    color: white;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, transform 0.3s ease;
  will-change: width, transform;
  z-index: 9999; /* SUPERPONE por encima de todo */
}

.NavBarra1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

