.nav-container {
  position: relative; /* para que el underline absolute se posicione respecto a este */
  display: flex;
  gap: 1.5rem;
  margin-left: 100px;
    color: white;
}
.nav-link {
  position: relative;
  color: white;
  font-weight: 500;
  padding: 16px 20px;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 1.1rem;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: white;
  transition: transform 0.3s ease, width 0.3s ease;
  will-change: transform, width;
}

.NavBarra1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.NavBarra1 img {
  height: 60px !important;
  max-height: 70px;
}

