.cartaComponente{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-height: 25vh;
    min-width: 80vw;
}
.cartaComponente img{
    min-height: 300px;
    min-width: 300px;
    padding: 25px;
}
.cartaComponente h5{
    text-align: center;
}
.cartaComponente p{
    text-align: justify;
}